//http://coolors.co/app/13293d-006494-247ba0-1b98e0-e8f1f2

$palette: (
	dark-0: #13293d,
	dark-1: #006494,
	medium-0: #1b98e0,
	grey-0: #dee7e8,
	grey-1: #EEF3F4,
	grey-2: #FCFEFF,
	grey-3: rgb(206, 218, 224),
	grey-4: rgb(153, 173, 186),
	grey-5: #5b707c,
);